@using CheckersGame.Blazor.Components.Layout

@page "/Login"
@rendermode InteractiveServer
@layout LoginLayout

<div class="container-login">
    <RadzenStack class="rz-py-4 rz-px-4 stack-principal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center" Wrap="FlexWrap.NoWrap">

        <div class="card-login">
            <RadzenCard class="card-login">

                <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center" RowGap="0.1rem">

                    <RadzenColumn Size="12" SizeXS="6" class="rz-display-flex rz-justify-content-center rz-align-items-center">

                        <div class="card-logo">
                            <RadzenImage Path="images/checkers-logo-sem-fundo.png" class="card-logo" AlternateText="checkers logo"  />
                        </div>

                    </RadzenColumn>

                    <RadzenColumn Size="12" SizeXS="6">

                            <RadzenStack JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Orientation="Orientation.Vertical">

                                <div class="card-input-login">
                                    <RadzenFormField Text="Usuário" class="card-input-login" Variant="Variant.Outlined">
                                        <ChildContent>
                                            <RadzenTextBox />
                                        </ChildContent>
                                        <End>
                                        <RadzenIcon Icon="person" IconColor="#fff" />
                                        </End>
                                    </RadzenFormField>
                                </div>

                                <div class="card-input-login">
                                    <RadzenFormField Text="Senha" class="card-input-login" Variant="Variant.Outlined">
                                        <ChildContent>
                                            <RadzenPassword />
                                        </ChildContent>
                                        <End>
                                        <RadzenIcon Icon="key" IconColor="#fff" />
                                        </End>
                                    </RadzenFormField>
                                </div>

                                <div class="card-link">
                                    <RadzenLink Text="Esqueceu sua senha?" class="card-link" />
                                </div>

                            </RadzenStack>

                            <RadzenStack JustifyContent="JustifyContent.End" AlignItems="AlignItems.End" Orientation="Orientation.Horizontal" class="rz-mt-4">

                                <div class="card-button-login">
                                    <RadzenButton Text="Entrar" class="card-button-login" Icon="login" IconStyle="IconStyle.Primary" />
                                </div>

                            </RadzenStack>

                    </RadzenColumn>
                </RadzenRow>

            </RadzenCard>
        </div>

    </RadzenStack>
</div>

@code {
}
