html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

:root {
    --preto-logo-color: #1A1A1A;
    --marrom-logo-color: #590000;
    --amarelo-logo-color: #FFC967;
}